.sorter {border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 auto 15px}
.sorter th {background:url(images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.sorter th h3 {font-size:10px; padding:6px 8px 8px}
.sorter td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sorter .head h3 {background:url(images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px;}
.sorter .desc h3 {background:url(images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sorter .asc h3 {background:url(images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sorter .head:hover, .sorter .desc:hover, .sorter .asc:hover {color:#fff}
.sorter .evenrow td {background:#fff}
.sorter .oddrow td {background:#ecf2f6}
.sorter td.evenselected {background:#ecf2f6}
.sorter td.oddselected {background:#dce6ee}


#navigation img {cursor:pointer}