/*
Theme Name: Coffee Blog
Theme URI: http://www.wordpressweekly.com/
Description: A Simple Theme by Wordpress Weekly
Version: 1.0
Author: RTDS
Author URI: http://www.wordpressweekly.com/
Tags: coffee blog, beige

*/

/* ---- sexy body --- */
* { padding:0; margin:0; list-style:none; text-decoration:none; }
body { font: 12px Arial, Verdana, Helvetica, sans-serif; background: #ece4d8;}

/* ---- hyperlinks --- */
a { color:#a38c6b; }
a:hover { color:#333;}

/* ---- main --- */
#wrapper { width:1000px; margin:auto; border:0px; margin-top: 0px; background: #f1ebe2;}
html, body { height: 100%; }
#box { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -31px; }
#main { display:block;}
#left { width:532px; float:left; margin-left: 10px;}
#right { width:440px; float:right;}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

/* ---- logo --- */
#top { display:block; height:200px; background: url(images/header2.jpg) no-repeat;}
#logo { float:left; margin-left: 0px; margin-top: 18px; font-size: 28px;}
#logo { float:left; margin-left: 0px; margin-top: 18px; font-size: 28px;}
#logo h1 {font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-weight: normal;}
#logo h1 a {color: #a46213; letter-spacing: -3px;}
#topadsense { width:468px; float:right; height:68px; margin-top:8px;}

/* ---- navigation --- */
#navigation { display:block; height:43px; margin-top:-97px !important; margin-bottom:-1px; border-bottom: dotted 1px #444; padding-bottom: 5px; border:0px; width:500px;}
#navigation a{color: #e7ceb7;background: url(images/left-tab.gif) left top no-repeat; text-decoration:none; padding-left:20px; height:47px; margin-right: 4px; font-size:20px; font-family:Georgia, "Times New Roman", Times, serif;}
#navigation a span{background: url(images/right-tab.gif) right top no-repeat;padding-right: 20px;height: 47px;padding-top: 9px;}
#navigation a, #navigation a span{display: block;float: left;}
/* Hide from IE5-Mac \*/
#navigation a, #navigation a span{float: none}
/* End hide */
#navigation a:hover{color: #5a4730;background: url(images/hover-left.jpg) left top no-repeat;padding-left: 20px;}
#navigation a:hover span{background: url(images/hover-right.jpg) right top no-repeat;padding-right: 20px;padding-top: 9px;}
#navigation ul{list-style: none;padding: 0;margin: 0}
#navigation li{float: left;margin: 0;} 
/* ---- misc --- */
.clear { clear:both;}
p img { max-width: 100%; }
img { border:1px solid #dadada;}
img.centered { display: block; margin-left: auto; margin-right: auto; }
img.alignright { padding: 4px; margin: 0 0 2px 7px; display: inline; }
img.alignleft { padding: 4px; margin: 0 7px 2px 0; display: inline; }
.alignright { float: right; } 
.alignleft { float: left; }
code { font: 1.1em 'Courier New', Courier, Fixed; display:block; padding:5px; border:1px solid #dadada; margin-bottom:10px;}
p code { padding:20px;}
blockquote { font: 1.1em 'Courier New', Courier, Fixed; display:block; padding:5px; border:1px solid #dadada; margin-bottom:10px; background:#f8f8f4;}
acronym, abbr, span.caps  { font-size: 0.9em; letter-spacing: .07em; }
small { padding-bottom:10px; border-bottom:1px dotted #dadada; display:block; margin-bottom:10px;}

/* ---- first entry --- */
.latest { display:block; margin-bottom:20px;}
.h2title h2 { font:normal 14px Arial, Georgia, "Times New Roman", Times, serif; float:left; display:block;}
.rss { text-indent:-9999px; float:right;}
.rss a { display:block; background:url(images/lfeed.gif) no-repeat; height:16px; width:16px;}
.post h2 { font:italic 20px Georgia, Arial, "Times New Roman", Times, serif; margin-bottom:10px; background:url(images/h2headline.gif) no-repeat; height:45px;}
.post h2 a { color:#706c67; display:block; padding-top:13px; padding-left:4px;}
.post h2 a:hover { color:#503E28;}
.post { display:block; margin-bottom:20px;}
.post p { padding-bottom:10px; line-height:18px; text-align:justify; padding-left:2px; padding-right:2px; background:#f5f3ef;}
.post p.postmetadata { display:block; padding:2px; background:#e5ded5; margin-bottom:10px; border:1px solid #dadada;}

/* ---- second entries --- */
.post2 { display:block; padding:10px; margin-bottom:10px; border:5px solid #E0D9CE;}
.post2 p { padding-bottom:10px; line-height:18px; text-align:justify;}
h2.second { display:block; padding:5px; margin:-10px -10px 10px -10px; background:#dbcdbb; font:bold 14px Georgia, Arial, "Times New Roman", Times, serif; }
h2.second a { color:#A46213;}
h2.second a:hover { color:#333;}

/* ---- tabber --- */
#mytab { display:block; padding:10px 5px 10px 5px; margin-bottom:10px; border:5px solid #E0D9CE; background:#fbfbfb;}
#mytab .tabbertab h2 { font: normal 12px Arial, Verdana, sans-serif; }

/* ---- sidebar --- */
#sidebar { display:block; border:5px solid #E0D9CE; padding:10px; background: #f5f3ef;}
#sidebar h2 { font:bold 13px/14px Arial, Georgia, "Times New Roman", Times, serif; margin-bottom:10px;}
#sidebar .textwidget { display:block; line-height:18px; padding-bottom:10px; text-align:justify;}
#lsidebar { width:200px; float:left;}
#rsidebar { width:190px; float:right; padding-left: 10px; border-left: dotted 1px #ccc;}
#lsidebar ul { margin-bottom:10px;}
#lsidebar ul li { padding-bottom:0px;}
#lsidebar ul li a {padding:5px; display:block; background:url(icons/button.gif) repeat-x;}
#rsidebar ul { margin-bottom:10px;}
#rsidebar ul li { padding-bottom:10px;}
#rsidebar ul li a { border-bottom:1px dotted #dadada; padding-bottom:5px; display:block;}
#calendar_wrap { display:block; background:#f0f0eb; border:3px solid #dadacf; padding:5px; margin-bottom:10px;}
#calendar_wrap table#wp-calendar { width:100%; text-align:center;}

/* ---- adsense sidebar --- */
#adsense { display:block; border:5px solid #E0D9CE; padding:10px; margin-bottom:10px;}
#adsense ul.adsense1 { float:left; border: solid 1px #ccc; width: 200px; height: 200px;}
#adsense ul.adsense2 { float:right; border: solid 1px #ccc; width: 200px; height: 200px;}

/* ---- search header --- */
#searchbox { float:right; display:block; padding:0px; clear:both; border:0px; width:144px; height:25px;}
#searchbox #s { float: left; margin-left: 0px; border: 0; width: 112px; color:#9c724c; background:none; border:0px; height:18px; padding:3px; font-size:12px;}
#searchbox #go { float: right; background:none; cursor:pointer; border:0px; width:22px; height:20px;}

/* ---- comment --- */
h3#comments, h3#respond { font:1.3em Arial, Georgia, serif; margin-bottom:30px; background:#fcfcfc; display:block; padding:5px; border-bottom:1px dotted #ccc; }
.box { display:block; padding:5px; border:5px solid #dadada;}
.box ol.commentlist { display:block; clear:both; padding: 0 0 0 -25px; }
.box ol.commentlist li.alt { background:#fafafa; color:#333; padding:5px; margin-bottom:5px; list-style:none;  }
.box ol.commentlist li { color:#333; padding:5px; margin-bottom:5px;  }
.box ol.commentlist li .gravatar { float:left; border:3px double #dadada; width:50px; margin-right:10px;}
.box ol.commentlist li .comments { float:right; width:400px; }
.box ol.commentlist li .comments p { padding-top:10px; line-height:18px;}
#commentform { margin-left:10px; }
#author,#email,#url,#comment { color: #333; border: 1px solid #d7d7d7; width:400px; display:block; padding: 4px; margin-bottom: 0.6em; background: #fff url(images/inputbg.gif) repeat-x top left;}
#author:focus,#email:focus,#url:focus,#author.sffocus ,#email.sffocus ,#url.sffocus  { color: #000; border: 1px solid #afc9de; width:400px; display:block; padding: 4px; margin-bottom: 0.6em; background: #fff url(images/inputbg.gif) repeat-x top left;}
#comment { width:400px;}
#comment:focus,#comment.sffocus { color: #000; border: 1px solid #afc9de; width:400px; display:block; padding: 4px; margin-bottom: 0.6em; background: #fff url(images/inputbg.gif) repeat-x top left;}
.comment-box-submit{ -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 6px; margin-right: 2px; border:1px solid #009999; color: #fff; background-color: #4b84bc;font-weight:bold; }
.comment-box-submit:hover{ -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 6px; margin-right: 2px; border:1px solid #333333; color: #fff; font-weight:bold; background-color: #333333; }
#comments-post {float: right;background: url(icons/comments.gif) no-repeat left;padding-left: 19px;width: auto;margin-top: -28px; margin-right:30px;}

/* ---- footer --- */
#footer { clear: both; position: relative; z-index: 10; height: 31px; }
.footer, #push { height:30px; width:960px; margin:auto; padding-top:0px; }
#footer p { line-height:31px; color:#121212;}
#footer p a { color:#000;}
#footer p.fooleft { float:left;}
#footer p.fooright { float:right; text-indent:-9999px; width: 183px;}
#footer p.fooright a { display:block; float: right; background:url(images/footer-rtds.gif) no-repeat 0 0px; width:183px; height:22px; margin-right: -4px;}