/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;

 font: normal 12px Arial, Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;

}

ul.tabbernav li a
{
 padding:5px;
 padding-left: 11px;
 padding-right: 10px;
 margin-left: 5px;
 background: #dcdcd6;
 text-decoration: none;
 border:1px solid #ccc;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #fff;
 border: solid 1px #ccc;
 border-bottom:1px solid #fff;
}

ul.tabbernav li.tabberactive a
{
 background: #fff;
 border: 1px solid #ccc;
 border-bottom: solid 1px #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
  font: normal 12px Verdana, sans-serif;
}
.tabberlive .tabbertab h3 {
 display:none;
  font: normal 12px Verdana, sans-serif;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}

.tabbertab p { padding-bottom:10px; line-height:140%; }
.tabbertab ul { padding:0; margin:0; border: solid 1px #ccc;}
.tabbertab ul li { padding:5px 0 6px 0; }
.tabbertab ul li { background:url(images/bullet.gif) no-repeat 0 5px; padding-left:18px; border-bottom:1px solid #fff;} 